@model AccountSettingsViewModel
@{
    Layout = null;
}


@{
    ViewData["Title"] = "Secretary";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Medic Care Bootstrap 5 CSS Template</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">


    <link href="~/template/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/template/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/template/css/owl.carousel.min.css" rel="stylesheet">

    <link href="~/template/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="~/template/css/templatemo-medic-care.css" rel="stylesheet">

    <!--
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    TemplateMo 566 Medic Care

    https://templatemo.com/tm-566-medic-care

    -->
</head>

<body id="top">



    <main>


        <nav class="navbar navbar-expand-sm fixed-top  shadow-lg bg-light">
            <img class="  text-light d-none d-lg-block" style="margin-left:10px;margin-right:10px;" width="70" height="60" src="~/img/T.C._Aile_ve_Sosyal_Hizmetler_Bakanlığı_logo.svg.png" />
            <img class="  text-light d-none d-lg-block" width="90" height="50" src="~/img/logo1.png" />
            <div class="container">
                <a style="color: #0d6efd" class="navbar-brand  mx-auto d-lg-none" href="index.html">
                    ODAK
                    <img style="margin-left:50px;" width="70" height="60" src="~/img/T.C._Aile_ve_Sosyal_Hizmetler_Bakanlığı_logo.svg.png" />
                    <img width="90" height="50" src="~/img/Huawei-Logo.png" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="mx-0  collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav mx-auto">


                        <li class="nav-item active">
                            <a class="nav-link " style="color: #0d6efd" href="~/">Anasayfa</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link " style="color: #0d6efd" href="/user/about">Hakkımızda</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " style="color: #0d6efd" href="/user/work">Çalışma Alanlarımız</a>
                        </li>


                        @* <li class="nav-item">
                        <a class="nav-link text-light" href="#test">Testler</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link text-light" href="#egitim">Eğitimler</a>
                        </li>*@

                        <li class="nav-item ml-5">
                            <div class="dropdown show mt-2">
                                <a style="color: #0d6efd" class="btn nav-  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bloglar
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/user/test">Testler</a>
                                    <a class="dropdown-item" href="~/#aktif">Eğitimler</a>
                                    <a class="dropdown-item" href="~/user/blog">Bloglar</a>

                                </div>
                            </div>

                        </li>
                        <a class="navbar-brand d-none d-lg-block">
                            ODAK
                            <strong class="d-block">
                                Sağlık Uzmanı
                            </strong>
                        </a>
                        <li class="nav-item">
                            <a class="nav-link " style="color: #0d6efd" href="/user/online">Online Danışmanlık</a>
                        </li>

                        <li class="nav-item ml-5">
                            <div class="dropdown show mt-2">
                                <a style="color: #0d6efd" class="btn nav-  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Randevu İşlemleri
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a style="color: #0d6efd" class="dropdown-item" href="/user/randevu">Randevu Al</a>
                                    <a style="color: #0d6efd" class="dropdown-item" href="/user/randevudetay">Aktif Randevularınız</a>


                                </div>
                            </div>

                        </li>


                        <li class="nav-item">
                            <a class="nav-link " style="color: #0d6efd" href="~/#footer">İletişim</a>
                        </li>
                        <li class="nav-item ml-5">
                            <div class="dropdown show mt-2">
                                <a style="color:#0d6efd" class="btn     dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-person"></i>  Sn. @User.Identity.Name
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/account/accountSetting">Hesap Ayarları</a>
                                    <a class="dropdown-item" href="~/#aktif">Aktif Randevular</a>
                                    <a style="color:#0d6efd" href="~/account/logout" class="nav-link ">Çıkış Yap</a>
                                    @if (User.IsInRole("Secretary"))
                                    {
                                        <a class="dropdown-item" href="/profile/index">Sekreter Paneli</a>
                                    }
                                    @if (User.IsInRole("Dentist"))
                                    {
                                        <a class="dropdown-item" href="/profile/index">Doktor Paneli</a>
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" href="/admin/index">Yönetici Paneli</a>
                                    }

                                </div>
                            </div>
                        </li>



                      

                    </ul>
                </div>

            </div>
        </nav>
        <br />
        <h3 class="container col-md-9 text-primary">Hesap Ayarları</h3>
        <hr class="container col-md-9 text-primary" />

        <form asp-controller="Account" asp-action="AccountSettingUpdate" method="POST" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                   @if(Model.Image==null)
                    {
                      <img src="~/img/istockphoto-1152255154-170667a.jpg" />
                        <input style="margin-left:50px" type="file" name="ImageUrl" />

                    }
                    else
                    {
                        <img style="border-radius:50%;margin-left:40px" width="400" height="380" src="~/img/@Model.Image" />
<input style="margin-left:70px;margin-top:20px" type="file" name="ImageUrl" />
                       <a title="Resmi Kaldır" href="/account/deleteImage/@User.Identity.Name"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg></a>
                        <br />
                    }
                </div>
                <div class="col-md-8">

                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-2 col-form-label"><b>Adınız</b></label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label asp-for="Surname" class="col-sm-2 col-form-label"><b>Soyadınız</b></label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Surname">
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label asp-for="TC" class="col-sm-2 col-form-label"><b>Tc</b></label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="TC">
                            <span asp-validation-for="TC" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label asp-for="UserName" class="col-sm-2 col-form-label"><b>Kullanıcı Adınız</b></label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="UserName">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-2 col-form-label"><b>Tel. Numaranız</b></label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-2 col-form-label"><b>Mail Hesabınız</b></label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label asp-for="Password" class="col-sm-2 col-form-label"><b>Parolanız</b></label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Password" value="@Model.Password"  type="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
                        </div>
                    </div>

                </div>

            </div>

        </form>

    </main>

    <footer class="site-footer section-padding" id="contact">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 me-auto col-12">
                    <h5 class="mb-lg-4 mb-3">Açılış saatleri</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex">
                            Pazar : Kapalı
                        </li>

                        <li class="list-group-item d-flex">
                            Pazartesi, Salı - Cuma
                            <span>8:00  - 5:30 </span>
                        </li>

                        <li class="list-group-item d-flex">
                            Cumartesi
                            <span>10:30  - 6:30 PM</span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                    <h5 class="mb-lg-4 mb-3">Kliniğimiz</h5>

                    <p><a href="mailto:hello@company.co">odak@gmail.com</a><p>

                    <p>123 Dijital Sanat Sokağı, Trabzon, CA 92123</p>
                </div>

                <div class="col-lg-3 col-md-6 col-12 ms-auto">
                    <h5 class="mb-lg-4 mb-3">Sosyal Medya Adreslerimiz</h5>

                    <ul class="social-icon">
                        <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12 ms-auto mt-4 mt-lg-0">
                    <p class="copyright-text">
                       
                    
                    </p>
                </div>

            </div>
            </section>
    </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="~/template/js/jquery.min.js"></script>
    <script src="~/template/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/js/owl.carousel.min.js"></script>
    <script src="~/template/js/scrollspy.min.js"></script>
    <script src="~/template/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--

    TemplateMo 566 Medic Care
    

    https://templatemo.com/tm-566-medic-care

    -->
    <script>
        var btn = document.getElementById("btn");


         btn.onclick(function(){
             TempData["message"] == null;
            
         });

    </script>
</body>
</html>