 <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img width="70" height="60" src="~/img/T.C._Aile_ve_Sosyal_Hizmetler_Bakanlığı_logo.svg.png" />
            <img width="90" height="50" src="~/img/Huawei-Logo.png" />
        </nav>
        